<!-- about sectioln -->
<section id='about-section'>
  <div class='about-section-box'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='about-section-textctr'>
            <div class='container'>
              <div class='row'>
                <div class='col-md-12'>
                  <p class='about-txt1'>Introduction :</p>
                  <p class='about-txt2'>Hi, my name is Pramod and I am a Web and
                    Mobile Application Developer. I have over 2 years of
                    experience in this fields in which I have Developed many
                    Android Applications like Fitness App, Video Status App,
                    Live Cricket Score App apartfrom this I have developed many
                    small Tools apps which is usefull daily tasks. I have
                    bachlors degree of Bachlors Of Computer Application (BCA)
                    from Sutex Bank College in India.
                  </p>
                </div>
                <div class='col-md-12'><p class='about-txt1'>Android Application
                    Development :</p>
                  <p class='about-txt2'>I am familiar with Android studio, Java,
                    Apis, Firebase and Notification, Background services,
                    Android Libraries like Retrofit, Glide, Google Play Services
                    and many more. Moreover, I can develop fully functional app
                    using android widgets like Recyclerview, Gridview,
                    Progressbar, ListView,Custom Dialogues, MySQLite database,
                    Firebase Notification etc. So that's it I hope now you have
                    clear idea about my work.
                  </p>

                </div>
                <div class='col-md-12'>
                  <p class='about-txt1'>Web Application Development :</p>
                  <p class='about-txt2'>I am a MERN stack developer. MERN stands
                    for MongoDB, Express, React, Node, after the four key
                    technologies that make up the stack.
                  </p>
                </div>
                <div class='col-md-12'>
                  <p class='about-txt1'>Current Status :</p>
                  <p class='about-txt2'>
                    I am actively working on mobile and web application
                    development as a freelancer as I am pursuing my studies at
                    Conestoga College. I took Mobile Application development
                    course which gives me wide exposure of different
                    technologies which enhance my skills and prepare for getting
                    job in this competitive market job.
                  </p>
                </div>
                <div class='col-md-12'>
                  <p class='about-txt1'>Future Goals :</p>
                  <p class='about-txt2'>Learning new skills is part of a
                    software developer’s role due to the frequent changes and
                    advancements in technology and frameworks. However, just
                    learning programming skills isn’t enough if you want to
                    succeed and get ahead in your software developer’s career so
                    I started working on other skills like communication skill,
                    Management skill and many other skills which will give me
                    advantage over others and stand out separately. I want to
                    become a part of a organization where everyone share there
                    ideas and turn those ideas into reality.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>