<section id='contact-section'>
  <div class='card-container'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6 col-sm-12'>
          <div class='aboutus-details'>
            <h2>Get In Touch</h2>
            <p>Reach out to me on below addresses.
            </p>
            <div class='row'>
              <div class='col-md-6'>
                <div class='about-datalist'>
                  <h5><i class='fa fa-dote'></i>Gujarat,India</h5>
                  <ul>
                    <li><i class='fa fa-mobile'></i>+91 98524 45854</li>
                    <li><i class='fa fa-envelope'></i>support@me.com</li>
                    <li>
                      <i class='fa fa-map-marker'></i><span>s/101 king street
                        varachha garvi
                        <br />
                        gujarat india</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='col-md-6 col-sm-12'>
                <div class='about-datalist'>
                  <h5>Waterloo, Canada</h5>
                  <ul>
                    <li><i class='fa fa-mobile'></i>+201 98525 4585</li>
                    <li><i class='fa fa-envelope'></i>support@me.com</li>
                    <li>
                      <i class='fa fa-map-marker'></i><span>s/101 king street
                        varachha garvi
                        <br />
                        gujarat india</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class='about-scoicon'>
              <ul class='socialicon'>
                <li>
                  <a href='#'><i class='fa fa-facebook'></i></a>
                </li>
                <li>
                  <a href='#'><i class='fa fa-google-plus'></i></a>
                </li>
                <li>
                  <a href='#'><i class='fa fa-twitter'></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='form-box'>
            <h3 id='mdatax'>Contact Me</h3>
            <p>
              Fill below form to get in touch with me.
            </p>
            <form action='/' id='submit-form' method='POST'>
              <div class='container'>
                <div class='row'>
                  <div class='col-md-6'>
                    <input
                      name='mName'
                      class='form-control form-control-sm'
                      type='text'
                      placeholder='Your Name'
                    />
                  </div>
                  <div class='col-md-6'>
                    <input
                      class='form-control form-control-sm'
                      type='email'
                      placeholder='Your Email'
                    />
                  </div>
                  <div class='col-md-6'>
                    <input
                      class='form-control form-control-sm'
                      type='text'
                      placeholder='Your Company Name'
                    />
                  </div>
                  <div class='col-md-6'>
                    <input
                      class='form-control form-control-sm'
                      type='email'
                      placeholder='Your Contact Number'
                    />
                  </div>
                  <div class='col-md-12'>
                    <textarea
                      class='form-control'
                      placeholder='Write Description'
                      id='exampleFormControlTextarea1'
                      rows='8'
                    ></textarea>
                  </div>
                  <div class='col-md-12'>
                    <div class='form-btn'>
                      <button type='submit' class='btn btn-general'>
                        &nbsp; Submit &nbsp;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>