<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Yeti Bootstrap Theme from bootswatch.com -->
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
    
    <!-- Navbar Bootstrap 4 code from w3schools -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-custom navbar-expand-lg">
      <div class="container-fluid">
        <div class="site-nav-wrapper">
    
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              Pramod Vaghasia
            </a>
          </div>
    
        </div>
      </div>
    
      <div class="navitem navbar-collapse">
        <ul class="navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
          <li>
            <a href="/service">Service</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    
    
    </nav>


  </head>
  <body>
    {{{body}}}
  </body>
</html>
