<section id='service-section'>
  <div class='service-block'>
    <div class='container'>
      <div class='service-content'>
        <div class='row'>
          <div class='col-md-7'>
            <div class='service-left-icon'>
              <img
                src='/Photos/service.png'
                alt='service image'
                class='img-fluid'
              />
              <div style="margin-left: 100px; font-size: 10px">Icons made by
                <a
                  href='https://www.flaticon.com/authors/itim2101'
                  title='itim2101'
                >itim2101</a>
                from
                <a
                  href='https://www.flaticon.com/'
                  title='Flaticon'
                >www.flaticon.com</a></div>
            </div>
          </div>
          <div class='col-md-5'>
            <div class='service-item-content'>

              <div class='service-item'>
                <div class='row'>
                  <div class='col-md-2'>
                    <div class='service-icons'>
                      <i class='fa fa-globe'></i>
                    </div>
                  </div>
                  <div class='col-md-10'>
                    <div class='service-right-text'>
                      <h5>Service 1</h5>
                      <h4>Web Development</h4>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Assumenda qui, animi natus consequatur quas
                        repellendus voluptatum accusantium vel ullam laboriosam
                        itaque voluptatibus recusandae, repudiandae alias
                        reprehenderit iure beatae maiores molestiae.</p>
                    </div>

                  </div>
                </div>
              </div>

              <div class='service-item'>
                <div class='row'>
                  <div class='col-md-2'>
                    <div class='service-icons'>
                      <i class='fa fa-android'></i>
                    </div>
                  </div>
                  <div class='col-md-10'>
                    <div class='service-right-text'>
                      <h5>Service 2</h5>
                      <h4>Android Application</h4>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Assumenda qui, animi natus consequatur quas
                        repellendus voluptatum accusantium vel ullam laboriosam
                        itaque voluptatibus recusandae, repudiandae alias
                        reprehenderit iure beatae maiores molestiae.</p>
                    </div>

                  </div>
                </div>
              </div>

              <div class='service-item'>
                <div class='row'>
                  <div class='col-md-2'>
                    <div class='service-icons'>
                      <i class='fa fa-apple'></i>
                    </div>
                  </div>
                  <div class='col-md-10'>
                    <div class='service-right-text'>
                      <h5>Service 3</h5>
                      <h4>IOS Application</h4>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Assumenda qui, animi natus consequatur quas
                        repellendus voluptatum accusantium vel ullam laboriosam
                        itaque voluptatibus recusandae, repudiandae alias
                        reprehenderit iure beatae maiores molestiae.</p>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>