<section id='service-section'>
  <div class='service-block'>
    <div class='container'>
      <div class='service-content'>
        <div class='row'>
          <div class='col-md-7'>
            <div class='service-left-icon'>
              <img
                src='/Photos/service.png'
                alt='service image'
                class='img-fluid'
              />
              <div style='margin-left: 100px; font-size: 10px'>Icons made by
                <a
                  href='https://www.flaticon.com/authors/itim2101'
                  title='itim2101'
                >itim2101</a>
                from
                <a
                  href='https://www.flaticon.com/'
                  title='Flaticon'
                >www.flaticon.com</a></div>
            </div>
          </div>
          <div class='col-md-5'>
            <div class='service-item-content'>
              {{#each data}}
                <div class='service-item'>
                  <div class='row'>
                    <div class='col-md-2'>
                      <div class='service-icons'>
                        <i class='fa fa-globe'></i>
                      </div>
                    </div>
                    <div class='col-md-10'>
                      <div class='service-right-text'>
                        <h5>{{ this.title1 }}</h5>
                        <h4>{{ this.title2 }}</h4>
                        <p>{{ this.description }}</p>
                      </div>

                    </div>
                  </div>
                </div>
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>